gitops/provisioning/cluster/install-config.yaml
gitops/pipelines/tasks/cluster-secrets.yaml
gitops/provisioning/cluster/cluster-secrets-list.yaml
gitops/provisioning/ns copy.yaml
gitops/scripts/aws_to_dc.token
gitops/scripts/azure_native_to_dc.token
gitops/scripts/azure_to_dc.token
gitops/provisioning/cluster/cluster-secrets.yaml
