<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DORA - Digital Operational Resilience Act</title>
    <meta name="description" content="DORA - Digital Operational Resilience Act">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body ng-app="DoraManagement" ng-controller="DoraManagementController">

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <div class="header-left">
                        <h5 class="menu-title"> 
                        <img class="align-self-center rounded-circle mr-3" src="images/redhat.png"/>
                        <img class="align-self-center rounded-circle mr-3" src="images/dora.png"/>
                        Digital Operational Resilience Act </h5>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->


        <div class="content mt-3">

            <div class="col-xl-3 col-lg-6" ng-repeat="object in model | orderBy:'id'">
                <section class="card">
                    <div class="card-content department">

                    <div class="twt-feed blue-bg">
                        <div class="corner-ribon black-ribon">
                            <i class="fa fa-{{object.status=='provisioned'?'check':'close'}}"></i>
                        </div>
                        
                        <!-- menu -->
                        <div class="department-menu dropdown">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-white" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                <i class="fa fa-cog"></i> provision
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div class="dropdown-menu-content">
                                    <a ng-click="provision(object)" class="dropdown-item {{object.dc?'disabled':''}}" href="#">DC</a>
                                    <a ng-if="object.status=='provisioned'" ng-click="scale(object,'azure')" class="dropdown-item {{object.azure?'disabled':''}}" href="#">Azure</a>
                                    <a ng-if="object.status=='provisioned'" ng-click="scale(object,'aws')" class="dropdown-item {{object.aws?'disabled':''}}" href="#">AWS</a>
                                </div>
                            </div>
                        </div>
                        <!-- menu-end -->

                        <div class="fa fa-spinner wtt-mark"></div>
                        
                        <div class="media">
                            <a href="#"><img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/{{ object.name }}.png"></a>
                            <div class="media-body">
                                <h2 class="text-white display-6 capitalize">{{ object.name }}</h2>
                                <p class="text-light">{{ object.description }}</p>
                                <div><span class="badge badge-primary ">{{ object.tenantType }}</span>
                                <img src="images/dc.png" class="provider-icon" ng-if="object.dc"/> 
                                <img src="images/azure.png" class="provider-icon" ng-if="object.azure"/> 
                                <img src="images/aws.png" class="provider-icon" ng-if="object.aws"/> 
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" ng-repeat="application in object.applications | orderBy:'id'">
                            <a ng-click="deploy(object,application)" href="#"> <i class="fa fa-{{ application.deployed?'check-':'' }}circle-o"></i> {{ application.name }}     
                            <span ng-if="application.deployed" class="badge badge-success pull-right"> On </span>
                            <span ng-if="!application.deployed" class="badge badge-danger pull-right"> Off </span>
                            <!-- <span class="badge badge-{{ application.deployed?'success':'danger' }} pull-right"> {{ application.deployed?'On':'Off' }} </span>-->
                            </a>
                            <br/>
                            <a class="description pull-right">{{ application.description }} </a>                            
                        </li>
                    </ul>

                    <section class="alert alert-danger card absolute" ng-if="department.id==object.id">
                        <div class="card-content department">
                        <div class="">
                            <div class="corner-ribon black-ribon">
                                <i class="fa fa-close"></i>
                            </div>
                            <div ng-if="department.id==object.id">
                                <div class="lds-ripple">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </section>

                </div>
                <div class="footer">
                    <footer class="twt-footer card-footer">
                        <a href="#"><i class="fa fa-info"></i></a>
                        Total # of systems
                        <span class="pull-right">
                            {{ object.applications.length }}
                        </span>
                    </footer>

                </div>

                </section>
            </div>


            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4>World</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="vmap" class="vmap" style="height: 265px;"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>


        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/dashboard.js"></script>
    
    <script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script>
        var app = angular.module("DoraManagement", []);
        app.directive('onFinishRender', ['$timeout', '$parse', function ($timeout, $parse) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        scope.$emit('ngRepeatFinished');
                        if ( !! attr.onFinishRender) {
                            $parse(attr.onFinishRender)(scope);
                        }
                    });
                }
                if (!!attr.onStartRender) {
                    if (scope.$first === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatStarted');
                            if ( !! attr.onStartRender) {
                                $parse(attr.onStartRender)(scope);
                            }
                        });
                    }
                }
            }
        }
        }]);
        app.controller("DoraManagementController", function ($scope, $http) {
            $scope.model=[];
            $scope.webSocket = true;
            $scope.department=null;
            _refreshPageData();

            function _refreshPageData() {
                var method = "GET";
                var url = 'http://{composite}/department';
                var data = {};
                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*'
                    }
                }).then(function successCallback(response) {
                    $scope.model = response.data;
                    if($scope.webSocket) {
                        $scope.model.forEach((department) => {
                            connectToSystems(department.id);
                        });
                        $scope.webSocket = false;
                    }
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }
            
            $scope.provision = function(data){
                var method = "POST";
                var url = 'http://{composite}/department/provision/trigger';
                $scope.department = data;
                //jQuery("#div-loading-" + data.id).show();
                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*'
                    }
                }).then(function successCallback(response) {
                    _refreshPageData();
                }, function errorCallback(response) {
            
                });
            }

            $scope.deploy = function(department, application){
                $scope.department = department;
                var method = "POST";
                var url = 'http://{composite}/department/deploy/trigger';
                var data = {"department" : department.name.toLowerCase(), "action": "deploy", "location": "dc", "system":application.name.toLowerCase()};
                console.log(angular.toJson(data));
                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*'
                    }
                }).then(function successCallback(response) {
                    _refreshPageData();
                }, function errorCallback(response) {
            
                });
            }

            $scope.scale = function(department,scaler){
                var method = "POST";
                var url = 'http://{composite}/department/scale/commit';
                department.provider = scaler;
                //var data = {"department": department,"scaler":scaler};
                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(department),
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*'
                    }
                }).then(function successCallback(response) {
                    _refreshPageData();
                }, function errorCallback(response) {
            
                });
            }

            function connectToSystems(department) {
                socket = new WebSocket("ws://{composite}/callback/" + department);
                socket.onopen = function() {
                    console.log("Connected to the web socket");
                };
                socket.onmessage =function(m) {
                    console.log("Got message: " + m.data);
                    if(m.data=='ping')
                        return;
                    $scope.department=null;
                    _refreshPageData();
                };
            } 

        });


        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
